body{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./images/city1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.adcard{
    width: 400px;
    min-height: 250px;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 12px;
    box-shadow: 10px 10px;
    
}
.adcard h3{

    color: black;
    text-align: center;
    /* border-bottom: 1px solid black; */
    padding-top: 10px;
}
.adcard button{
    width: 100%;
    
  color: black;
    border-radius: 10px;
    transition-duration: 0.3s;
    
}
.adcard h5{
    color: black;
}
.adcard button:hover {
    /* Define the styles for the hover effect */
    background-color: #45a049;
    
  }
@media only screen and(max-width:600px){
    .adcard{
        width: 80%;
        height: 30%;
    }

}